extends ./layout.jade

block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Fotoscape
		a(href='/login', class="right-space") inicia sesion
		
		a(href='/signup') Registro
	